.mt-100 {
    margin-top: 100px
}

body {
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    color: #514B64;
    min-height: 100vh
}

.multi_select_box {
    width: 400px;
    margin: 80px auto;
}

.multi_select_box>select {
    width: 100%;
}

.multi_select_box>button {
    background-color: darkblue !important;
    color: white !important;
    padding: 15px 25px;
}